body{
    margin: 0;
}
/*
.degrade{
    background: linear-gradient(30deg,pink, blue,red,yellow);
    width: 500px;
    height: 300px;
}
*/
.sombra{
    background-color:green;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    box-shadow: -10px -10px 5px red;
    /*box-shadow aplica sombra em objetos*/
    /*primeiro e segundo valor 0 0 aplica em todos os lados*/
    /*primeiro valor : tamanho da sombra da base*/
    /*segundo valor : tamanho da sombra lateral*/
    /*terceiro valor : intensidade da sombra*/
    /*quarto valor : cor da sombral*/  
}
.texto{
    /*text-shadow aplica sombra em textos*/
    text-shadow: 10px 10px 5px blue;
    font-size: 50px;
}